#content {
    background: #f3f4f5 !important;
    min-height: 500px;
}

.panel-theme {
    -webkit-box-shadow: 1px 1px 3px #999;
    box-shadow: 1px 1px 3px #999;
    padding: 20px;
    background-color: #fff;
}

.col-centered {
    float: none !important;
    margin: 0 auto;
}

.sep10 {
    width: 100%;
    height: 10px;
    clear: both;
}

.sep50 {
    width: 100%;
    height: 50px;
    clear: both;
}

.headertitle {
    background-color: #4F5961;
    min-height: 70px;
    color: #fff;
    background-image: url(https://planificadorempresarial.com/dms/sanjuan/luna/images/background-menu.png);
}

.title_table {
    font-weight: bold;
    background: #eee !important;
    color: #323232;
}

.caption_table {
    font-weight: bold;
    background: #4E73DF;
    color: #fff;
}

.table td,
.table th {
    padding: .45rem !important;
    vertical-align: top;
    border-top: 1px solid #e3e6f0;
    font-size: 14px !important;
    color: #000;
}